@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

:root {
	--title-font: 'Roboto', sans-serif;
	--sidebar-color: #403d58;
	--card-container-bg: #e2e8f0;
	--white: #fff;
	--accent: #66d7d1;
	--text-color: #818181;

	--card-width: 350px;
	--side-card-width: 50px;

	/* Icon Sizes */
	--large: 75px;
	--medium: 50px;
	--small: 40px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: var(--title-font);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.dashboard-container {
	display: flex;
	height: 100vh;
	/* gap: 20px; */
}

.sidebar-container {
	background-color: var(--sidebar-color);
	padding: 20px;
	width: 20%;
}

.main-content-container {
	background-color: var(--card-container-bg);
	width: 80%;
}

.search-user-main-container {
	background-color: var(--white);
	padding: 15px 40px;
	box-shadow: -1px 2px 5px 0px rgba(148, 148, 148, 0.75);
	-webkit-box-shadow: -1px 2px 5px 0px rgba(148, 148, 148, 0.75);
	-moz-box-shadow: -1px 2px 5px 0px rgba(148, 148, 148, 0.75);
}

.projects-main-container {
	padding: 20px;
	/* margin: 10px; */
}

/* Material Icons */
.material-icons {
	font-size: inherit;
	padding: 0;
	margin: 0;
}

/* Links */
a {
	text-decoration: none;
	color: var(--white);
}
/* Sidebar Nav Links */
.sidebar-title {
	color: var(--white);
	height: 3em;
	font-size: 1.75em;
	font-family: var(--title-font);
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar-links {
	display: flex;
	flex-direction: column;
	gap: 4em;
	padding: 30px 15px;
}

.user-nav-links,
.setting-nav-links {
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
}

.nav-link {
	display: flex;
	align-items: center;
	font-size: 1.25em;
	font-weight: bold;
	font-family: var(--title-font);
	gap: 1em;
	padding: 5px;
}

.nav-link:hover {
	color: var(--accent);
}

.nav-link span {
	font-size: 1em;
}

/* Header: Search Bar, User Info */

.search-user-main-container,
.user-action-main-container {
	display: grid;
	grid-template-columns: 2.5fr 1.5fr;
	align-items: center;
}

.search-user-main-container {
}

.user-notification-container {
	justify-self: end;
	padding-right: 2em;
	display: flex;
	justify-items: space-between;
	gap: 2em;
	align-items: center;
	font-weight: 900;
}

.user-greeting-container img {
}
.user-actions-container {
	justify-self: center;
}

.user-notification-container img {
	width: var(--medium);
	border-radius: 100%;
}
.sidebar-title span {
	font-size: 1.5em;
}

/* Search Bar */

.search-bar-container {
	display: grid;
	grid-template-columns: 0.1fr 4fr;
	gap: 10px;
	align-self: center;
	justify-content: center;
}

#search {
	width: 100%;
	border-radius: 20px;
	border: none;
	background-color: var(--card-container-bg);
	padding: 5px;
}

#search:focus {
	/* border-color: red; */
	border: 1px solid var(--sidebar-color);
}

/* User Greeting */

.user-greeting-container {
	display: grid;
	grid-template-columns: 0.1fr 1fr;
	column-gap: 20px;
	align-items: center;
}

.user-greeting-container span {
	display: block;
	font-weight: 900;
	font-size: 1.1em;
}

.user-greeting-container p {
	font-weight: 900;
	font-size: 1.5em;
}

.user-greeting-container img {
	width: var(--large);
	border-radius: 100%;
	justify-self: end;
}

.user-greeting {
	display: grid;
	row-gap: 0.65em;
}

/* User Action Buttons */

.user-actions-container {
	justify-self: end;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 2em;
}

.action-buttons {
	background: none;
	border: none;
	background-color: var(--sidebar-color);
	padding: 0.5em 2em;
	border-radius: 20px;
	color: var(--white);
	font-weight: 700;
	cursor: pointer;
}

/* Project Cards */

.projects-main-container {
	display: grid;
	column-gap: 1em;
	row-gap: 0;
	/* height: 10%; */
	grid-auto-rows: auto 16fr 40px 16em;
	/* grid-template-columns: 350px 350px 1fr; */
	grid-template-areas:
		'title 		title  		announcement-title'
		'projects   projects 	announcement'
		'projects   projects 	trending-title'
		'projects   projects 	trending';

	/* height: 100vh; */

	width: calc(100vw - 80px);
}

.projects-main-container h2 {
	font-weight: 700;
	font-size: 1.05em;
	padding-top: 1em;
}

.projects-main-container p {
	font-size: 0.85em;
	color: var(--text-color);
}

.announcement-title {
	grid-area: announcement-title;
}
.projects-container {
	grid-area: projects;
}

.announcement-card {
	grid-area: announcement;
}

.trending-card {
	grid-area: trending;
}

.trending-title {
	grid-area: trending-title;
}
.project-cards {
	background-color: var(--white);
	padding: 1em;
	box-shadow: -1px 2px 5px 0px rgba(148, 148, 148, 0.75);
	-webkit-box-shadow: -1px 2px 5px 0px rgba(148, 148, 148, 0.75);
	-moz-box-shadow: -1px 2px 5px 0px rgba(148, 148, 148, 0.75);
	/* justify-items: stretch; */

	display: grid;
	/* grid-auto-rows: minmax(2fr, auto); */
	grid-template-rows: 0.2fr 1fr 0.2fr;
	/* grid-auto-rows: auto; */
	border-radius: 0.5em;
	border-left: 0.4em solid var(--accent);
	line-height: 1em;
}

.project-cards p {
	padding-top: 0.5em;
}

.announcement-card {
	background-color: var(--white);
	padding: 1em;
	box-shadow: -1px 2px 5px 0px rgba(148, 148, 148, 0.75);
	-webkit-box-shadow: -1px 2px 5px 0px rgba(148, 148, 148, 0.75);
	-moz-box-shadow: -1px 2px 5px 0px rgba(148, 148, 148, 0.75);
	border-radius: 0.5em;

	padding: 1.5em 2em;
	max-height: 350px;
	min-width: 250px;
}

.trending-card {
	background-color: var(--white);
	padding: 1em;
	box-shadow: -1px 2px 5px 0px rgba(148, 148, 148, 0.75);
	-webkit-box-shadow: -1px 2px 5px 0px rgba(148, 148, 148, 0.75);
	-moz-box-shadow: -1px 2px 5px 0px rgba(148, 148, 148, 0.75);
	/* justify-items: stretch; */
	border-radius: 0.5em;

	padding: 1.5em 2em;
	/* align-self: stretch; */
}

.announcements-container > h3:nth-child(2) {
}

.announcement-card p {
	font-size: 0.75em;
	padding: 0.2em 0 1em 0;
	line-height: 0.9rem;
}

.announcement-card h3 {
	font-weight: 700;
}

.action-icons {
	justify-self: end;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1em;
	color: var(--sidebar-color);
}

.action-icons .material-icons:hover {
	cursor: pointer;
	color: var(--accent);
}

.projects-container {
	display: grid;
	/* grid-template-columns: repeat(2, 0.75fr); */
	gap: 1em;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

img {
	width: 30px;
}

.card6,
.card7 {
	width: 60%;
}

.announcements-container h3:nth-child(3),
.announcements-container h3:nth-child(5) {
	/* background-color: red; */
	border-top: 1px solid #eee;
	padding-top: 1em;
}

/* Trending Card */

.trendings-container {
	display: grid;
	row-gap: 1em;
}

.trending-container {
	display: grid;
	grid-template-columns: 0.5fr 2fr;
}

.trending-container span {
	font-size: 12px;
}

.trending-container img {
	border-radius: 100%;
	width: var(--small);
	height: var(--small);
}

.trending-user-tag {
	display: grid;
	grid-template-rows: 1fr 2fr;
	row-gap: 0.25em;
	font-size: 15px;
}

.trending-user-tag span {
	text-transform: lowercase;
}

.trending-user-img {
}

.trending-user-tag {
}
